<% provide(:title, "Sign in") %>
<h1 xmlns="http://www.w3.org/1999/html"> Sign in</h1>

<div class="signin">
  <div class="span6 offset3">
  <%= form_for(:session, url: sessions_path) do |f| %>

     <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

    <p></p> <%= f.submit "Sign in", class: "btn btn-large btn-primary" %> </p>

        <!-- (JMC)want to put a redirect here if user comes to signin page from store -->
  <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
    </div>