<% provide(:title, @user.name) %>

<table>
  <caption>Customer Details</caption>
  <tr>
    <th> Customer Name</th>
    <th> Email</th>
    <th> Location </th>
   </tr>
  <tr>

  <tr>
    <td> <%= @user.name %> </td>
    <td><%= @user.email %>  </td>
    <td><%= @user.location%> </td>
  </tr>
 </table>
<table>
  <caption> Quotation Details</caption>
  <tr>
    <th> Customer Name</th>
    <th> Email</th>
    <th> Location</th>
    <th> Jobtype</th>
    <th> Contractor ID</th>
  </tr>

<% @quotation.each do|quotation|%>
   <tr>
     <td><%= quotation.name %></td>
     <td><%=  quotation.email%> </td>
     <td><%= quotation.location%> </td>
     <td><%= quotation.jobtype%> </td>
     <td><%= quotation.contractor_id%></td>
   </tr>
    <%end %>
</table>