<% provide(:title, @user.name) %>

<h1> <%= @user.name %></h1>
 <ul>
    <li><%= @user.name %></li>
    <li><%= @user.email %></li>
    <li><%= @user.location%></li>
</ul>

<% @quotation.each do|quotation|%> <br/>
    <%= quotation.name %><br/>
    <%=  quotation.email%> <br/>
    <%= quotation.location%> <br/>
    <%= quotation.jobtype%> <br/>
    <%= quotation.contractor_id%> <br/>
    <%end %>