<!--<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">-->

<head>
  <title>DIY or NOT</title>
  </head>
<body>
<h1 id="banner"> DO IT YOURSELF </h1>
<p>Welcome to our website.  We aim to solve any of your DIY problems,
  from soldering to plumbing.  Let us show you how the work should be
  done.  We can provide the tools you need for the job, or we can put
  you in touch with a reputable tradesperson who can do the job for you.</p>
<ul>
  <li><%=  link_to "Home", root_path %></li>
  <%if !signed_in? %>
  <li><%=  link_to "Register", signup_path %></li>
      <%end%>


</ul>


<div id="Leftcolumn">

 <ul>
    <li>Soldering</a></li>
    <ul>

      <li><%= link_to "Required Tools", categories_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Request a Quotation", quotations_path %></li>
          <% end %>
    </ul>


 </ul>
  <ul>
    <li> <a href="http://www.youtube.com/embed/lPMHJOgm76M"  target="source">Tiling</a></li>
    <ul>
      <!--<li> <a href="frame2.html"  target="source">Required Tools </a> </li>-->
      <li><%= link_to "Required Tools", categories_path %></li>
      <% if signed_in? %>
          <li><%= link_to "Request a Quotation", quotations_path %></li>
      <% end %>

    </ul>
           </ul>

  <ul>
    <li> <a href="http://www.youtube.com/embed/lPMHJOgm76M"  target="source">Decking</a></li>
    <ul>
      <!--<li> <a href="frame2.html"  target="source">Required Tools </a> </li>-->
      <li><%= link_to "Required Tools", categories_path %></li>
      <% if signed_in? %>
          <li><%= link_to "Request a Quotation", quotations_path %></li>
      <% end %>

    </ul>
  </ul>

    </div>

</div>
<div id ="Rightcolumn">
  <table class="table_id">
    <tr>
      <td><iframe name="source" src="http://www.youtube.com/embed/lPMHJOgm76M"  width="600px" height="400px"></iframe>

      </td>

    </tr>
  </table>
</div>



</body>
</html>