<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="cart_title">Your Basket</div>
<table>
  <% @cart.line_items.each do |item| %>
      <tr>
        <td><%= item.quantity %>&times;</td>
        <td><%= item.product.title %></td>
        <td class="item_price"><%= number_to_currency(item.total_price) %></td>
      </tr>
  <% end %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>
<!-- START_HIGHLIGHT -->
<p></p>
<%= button_to "Continue Shopping", store_path %>
<%= button_to "Checkout", new_order_path, method: :get %>

<!-- END_HIGHLIGHT -->
<%= button_to 'Empty Basket', @cart, method: :delete,
    confirm: 'Are you sure?' %>
