<% provide(:title, "Edit Contractor Details") %>
<h1 id="change_color">Edit Contractor</h1>

<div class="row">
  <div class="span6 offset3">
    <table id="edit_contractor">
      <tr>
        <th> Name</th>
        <th> Address</th>
        <th> Email</th>
        <th> Skill</th>
      </tr>
      <tr>

        <%= form_for(@contractor) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>


       <td><%= f.text_field :name %></td>
       <td><%= f.select :location, options_for_select([ "Select One",
                                                       "Carlow",
                                                       "Dublin",
                                                       "Kildare",
                                                       "Kilkenny",
                                                       "Laois",
                                                       "Longford",
                                                       "Louth",
                                                       "Meath",
                                                       "Offaly",
                                                       "Westmeath",
                                                       "Wexford",
                                                       "Wicklow"], :class=>'genForm_dropBox') %></td>
       <td> <%= f.text_field :email %></td>
       <td><%= f.select :jobtype, options_for_select(["Select One", "Tiler", "Builder", "Carpenter", "Decking", "Plumbing"],
                                                     :class=>'genForm_dropBox') %></td>
       </tr>
       <tfoot>
       <tr>
       <td> <%= f.submit "Save changes", class: "btn btn-large btn-primary" %> </td>
        </tr>
       </tfoot>
    <% end %>
    </table>

  </div>
</div>