<%= provide(:title, 'Add Contractor') %>
<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Add Contractor</h1>

<div>

  <div class="inline" >

    <%= form_for(@contractor) do |f| %>
        <%=  render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>  <br/>
        <%=  f.text_field :name%><br/>
        <%= f.label :email %> <br/>
        <%= f.text_field :email %><br/>
        <%= f.label :location %> <br/>
        <%= f.select :location, options_for_select(["select County",
                                                    "Carlow",
                                                    "Dublin",
                                                    "Kildare",
                                                    "Kilkenny",
                                                    "Laois",
                                                    "Longford",
                                                    "Louth",
                                                    "Meath",
                                                    "Offaly",
                                                    "Westmeath",
                                                    "Wexford",
                                                    "Wicklow"], :class=>'genForm_dropBox') %>
        <%= f.label :jobtype, "Please select the general job type" %> <br/>
        <%= f.select :jobtype, options_for_select(["select one", "Tiler", "Builder", "Carpenter", "Decking", "Plumbing"], :class=>'genForm_dropBox') %>

        <p>  <%= f.submit "Submit", class: "btn btn-large btn-primary" %> </p>


    <% end %>


  </div>


</div>


