<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>

  <p><%= @category.products %></p>

</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
